.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;

}

.nav-items ul li {
    padding: 10px;
    margin: 10px;
    font-size: 24px;

}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 250px;
    border: 1px solid black;
    background-color: #dadada;

}

.restro-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover {
    cursor: pointer;
    border: 4px solid black;

}


.search {
    padding: 10px;
}

.res-logo {
    height: 50%;
    width: 100%;
}